<section class="map-view">

    <div class="sidebar">

        <div class="region-select">
            <h1 class="text-body"><b>gebied</b></h1>
            <form>
                <select class="select" id="region-select">
                    <option value="dam">Damstraat, Damrak e.o.</option>
                    <option value="rembrandtplein">Rembrandtplein </option>
                    <option value="leidseplein">Leidseplein </option>
                    <option value="plein4045">Plein 40-45</option>
                </select>
            </form>
        </div>

        <div class="map-meta-statistics">
            <div class="statistics">
                <h2 class="text-body"><b><span data-count-tickets>0</span> tickets totaal</b></h2>
                <span class="statistics-item"><span data-count-ledigingen>0</span> bakledigingen</span>
                <span class="statistics-item"><span data-count-nietopgelost>0</span> niet opgelost</span>
            </div>
        </div>
        <nav class="ticket-nav">
            {% for ticket in tickets %}
                {% spaceless %}
                    {% if ticket.geo is defined %}
                    {% set lat %}{{ ticket.geo|slice(16,16) }}{% endset %}
                    {% set lng %}{{ ticket.geo|slice(33,-1) }}{% endset %}
                    {% endif %}
                {% endspaceless %}
                <div class="ticket-nav-item"
                    data-type="{{ ticket.type }}"
                    data-lat="{{ lat|default("0") }}"
                    data-lng="{{ lng|default("0") }}"
                    data-time="{{ ticket.datumTijdAangemaakt|date('H:i') }}"
                    data-oplossing="{{ ticket.oplossing|default("") }}">
                    {% if ticket.fotos|default({})|length > 0 %}
                        {% for foto in ticket.fotos %}
                            <img src="{{ vich_uploader_asset(foto, 'imageFile')|imagine_filter('thumbnail480') }}" alt="" width="60" style="float: right">
                        {% endfor %}
                    {% endif %}
                    <p class="ticket-nav-time">{{ ticket.datumTijdAangemaakt|date('H:i') }}</p>
                    {% if ticket.oplossing == 'niet opgelost' %}
                        <p class="ticket-warning">niet opgelost</p>
                    {% endif %}
                    <h3 class="ticket-nav-title">{{ ticket.type }}</h3>
                    {% if ticket.type == 'notitie' %}
                        <p class="ticket-nav-notitie">{{ ticket.tekst|nl2br }}</p>
                    {% endif %}
                    <p class="ticket-nav-meta">{{ ticket.straat }} {{ ticket.huisnummer }}</p>
                    <a href="{{ path('gemeenteamsterdam_heelenschoon_tickets_detail', {'ticketId': ticket.id, 'gebiedId': ticket.gebied.id, 'return': 'dashboard', 'datum': filter.datumAangemaakt|date('Y-m-d')}) }}" class="ticket-nav-minilink">details</a>
                </div>
            {% endfor %}
        </nav>
    </div>
    <div class="map">
         <style>#mapid { height: 600px; }</style>
         <div id="mapid"></div>
    </div>
</section>