<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>clean street - iedere ondernemer een schone stoep</title>
        <link type="text/css" rel="stylesheet" href="/assets/css/cleanstreet.min.css">
    </head>
    <body id="home">

        <header class="banner" id="scroll-home">
            <div class="banner-wrapper">
                <div class="banner-container">
                    <a href="#" class="banner-cleanstreet">
                        <img src="/img/clean-street-logo.svg" alt="clean street">
                    </a>
                    <img src="/img/adam-logo.svg" class="banner-amsterdam" alt="gemeente amsterdam">
                </div>
            </div>
        </header>

        <nav class="main-nav" id="sticky-nav">
            <div class="main-nav-wrapper">
                <div class="main-nav-container">
                    <a href="#home" class="main-nav-item" data-scroll-to>home</a>
                    <a href="#scroll-about" class="main-nav-item" data-scroll-to>over clean street</a>
                    <a href="#faq" class="main-nav-item" data-scroll-to>vraag & antwoord</a>
                    <a href="#contact" class="main-nav-item" data-scroll-to>contact</a>
                </div>
            </div>
        </nav>

        <article class="introduction" data-parallax="scroll" data-image-src="img/street.jpg">
            <div class="introduction-wrapper">
                <div class="introduction-container">
                    <h1>iedere ondernemer<br>een schone stoep.</h1>
                    <a href="#contact" class="introduction-cta" data-scroll-to>bestelformulier afvalbak</a>
                    <!--<span class="introduction-call">of bel +(0)6 8380 7130</span>-->
                </div>
            </div>
        </article>

       <section class="about" id="scroll-about">
            <div class="about-wrapper">

                <div class="about-steps-container">
                    <h1>Over clean street</h1>
                    <p>Op drukke straten waar veel gegeten en gedronken wordt, is extra inspanning
                        nodig om Amsterdam schoon te houden. De conciërges van clean street maken zich hiervoor
                        sterk. Ze zijn voor ondernemers ook het aanspreekpunt voor vragen en meldingen omtrent zwerfafval.
                        Bent u ondernemer in het centrum van Amsterdam? Dan vragen we u ook een handje mee te helpen,
                        door uw eigen clean street afvalbak te adopteren.</p>
                    <h2>Zo adopteert u uw clean street afvalbak</h2>
                    <div class="about-steps-item">
                        <div class="about-steps-bullet">1</div>
                        <div class="about-steps-text">Neem contact op met de conciërge<!--,
                            bel <a href="tel:+316-8380-7130" class="about-tel">06 8380 7130</a>--> en meld dat
                            u uw clean street afvalbak wil bestellen.
                        </div>
                    </div>
                    <div class="about-steps-item">
                        <div class="about-steps-bullet">2</div>
                        <div class="about-steps-text">Plaats de afvalbak ’s ochtends op de stoep voor uw
                            winkel en zet hem voor sluitingstijd weer binnen. Wij zorgen dat we
                            hem geregeld leeghalen.
                        </div>
                    </div>
                    <div class="about-steps-item">
                        <div class="about-steps-bullet">3</div>
                        <div class="about-steps-text">Is uw bak toch eerder vol? Meld dit eenvoudig via
                            <a href="http://leeg.nu">leeg.nu</a> met uw baknummer en wij komen eraan!
                        </div>
                    </div>
                </div>

                <div class="about-image-container">
                    <img src="/img/concierge.jpg" alt="clean street concierge" class="about-image">
                </div>

            </div>
        </section>


        <section class="faq" id="faq">
            <div class="faq-wrapper">
                <div class="faq-container">
                    <h2 class="faq-title">Vraag & antwoord</h2>
                    <div class="faq-category-wrapper">
                        <div class="faq-category-container">
                            <h3 class="faq-category-title">Over clean street</h3>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wat is clean street?</a>
                                <div class="faq-answer">Een dienst van de Gemeente Amsterdam die op plekken waar er veel toeristen zijn, samen met ondernemers extra reiniging biedt met behulp van afvalbakken en conciërges.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wat heb ik aan deze dienst?</a>
                                <div class="faq-answer">Bestel uw eigen clean street afvalbak. De conciërge leegt deze gratis voor u. U kunt de conciërge ook vragen stellen of uw suggesties voor verbetering voor de Gemeente Amsterdam laten weten.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Waar is clean street actief?</a>
                                <div class="faq-answer">Op dit moment is dat in de Damstraat, Oude Doelenstraat, Oude Hoogstraat, Nieuwe Hoogstraat, Damrak en de Nieuwendijk. In de toekomst willen we in meer gebieden in actie komen.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Is clean street een bedrijf?</a>
                                <div class="faq-answer">Nee, het is een dienst die wordt aangeboden door de Gemeente Amsterdam.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wat is leeg.nu?</a>
                                <div class="faq-answer">Een volle clean street afvalbak kunt u melden via leeg.nu. Dit is een kleine mobiele website waarop u het baknummer kunt invullen en verzenden.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Mijn vraag staat er niet bij, wat nu?</a>
                                <div class="faq-answer">Vul het contactformulier in en stel uw vraag.</div>
                            </div>

                            <h3 class="faq-category-title">Conciërges</h3>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wat doet de conciërge?</a>
                                <div class="faq-answer">De concierge houdt de straat schoon, informeert ondernemers, spreekt ondernemers aan en plaats en leegt de clean street afvalbakken. Ook schakelt de concierge waar nodig andere gemeente afdelingen in en geeft uw suggesties voor verbeteringen door aan de gemeente.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Hoe kan ik de conciërge herkennen?</a>
                                <div class="faq-answer">De concierges dragen groene jassen met een clean street logo op de rug.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Hoe kan ik de conciërge bereiken?</a>
                                <div class="faq-answer">Bel <!--06 8380 7130--></div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Kan een conciërge boetes uitdelen?</a>
                                <div class="faq-answer">Een conciërge is geen handhaver en kan dus zelf geen boetes uitdelen. Dat wil hij ook niet. Hij waarschuwt ondernemers als er gehandhaafd gaat worden en kan ook handhaving inschakelen als hij dat nodig acht.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Zijn jullie er ook &#039;s avonds en in het weekend?</a>
                                <div class="faq-answer">We zijn er elke dag tussen 10:00 en 22:00. Dus ook in het weekend!</div>
                            </div>
                        </div>
                        <div class="faq-category-container">
                            <h3 class="faq-category-title">Afvalbakken</h3>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Hoe kan ik een afvalbak bestellen?</a>
                                <div class="faq-answer">Bel de conciërge of vul het bestelformulier in.</div>
                            </div>
                            {#<div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Hoe duur is een afvalbak?</a>
                                <div class="faq-answer">De Gemeente Amsterdam betaalt voor de clean street afvalbak en leent hem gratis uit. De afvalbak kost u dus niks!</div>
                            </div>#}
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Mag ik meerdere afvalbakken afnemen?</a>
                                <div class="faq-answer">Dat kan in goed overleg met de conciërge.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wanneer mag ik de afvalbak buiten zetten?</a>
                                <div class="faq-answer">Tijdens de openingstijden van uw onderneming. Zorg dat de afvalbak weer voor sluitingstijd binnen staat. De bak wordt dagelijks doorlopend geleegd tussen 10:00 - 22:00.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wanneer wordt de afvalbak geleegd?</a>
                                <div class="faq-answer">Als de conciërge ziet als uw afvalbak vol is of als u het meldt via leeg.nu.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Hoe kan ik een volle bak melden?</a>
                                <div class="faq-answer">Bij voorkeur via leeg.nu.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Wat als mijn bak beschadigd of kwijt raakt?</a>
                                <div class="faq-answer">Geef het door aan de conciërge.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Hoe snel kan de bak worden geleverd?</a>
                                <div class="faq-answer">We hebben nog bakken op voorraad, dus in principe de volgende dag.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Waar zet ik de bak neer?</a>
                                <div class="faq-answer">Voor uw winkel, tegen de gevel.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Mag ik bak delen met een buurman?</a>
                                <div class="faq-answer">Ja, dat kan. We vragen wel om een vast contactpersoon van een van beide ondernemingen.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Welk afval mag in de bak?</a>
                                <div class="faq-answer">Zwerfafval zoals blikjes, plastic flesjes, servetjes, eetbakjes etc. Er mag geen bedrijfsafval in de clean street afvalbak.</div>
                            </div>
                            <div class="faq-item">
                                <img src="/img/arrow-green-right.svg" class="faq-arrow">
                                <a class="faq-question">Mag ik reclame op mijn bak plaatsen?</a>
                                <div class="faq-answer">Nee, op dit moment is dat niet toegestaan. Maar er wordt wel gekeken naar reclame mogelijkheden in de toekomst.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="contact-wrapper">
                <div class="contact-image-container">
                    <img src="/img/tijdelijke-bak.png">
                </div>
                <div class="contact-form-container">
                    <div class="article-styles">
                        <a name="contact" id="contact"></a>
                        <h2>Contact en bestelformulier</h2>
                        <p>Heeft u interesse in een afvalbak of een vraag? Vul dan onderstaand formulier in en we nemen zo spoedig mogelijk contact met u op.</p>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
                        <style>
                        .errors li { font-family: 'Avenir Next W01', 'Avenir', sans-serif; font-size: 14px; line-height: 1.4; color: #E66B6B; margin-bottom: 10px; font-weight: 400; }
                        </style>
                        {{ form_errors(form) }}
                        <fieldset>
                            <div class="formrow">
                                <label for="naam">uw naam</label>
                                {{ form_errors(form.naam) }}
                                {{ form_widget(form.naam, {'attr': {'id': 'naam'}}) }}
                            </div>
                            <div class="formrow">
                                <label for="email">e-mail adres</label>
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email, {'attr': {'id': 'email'}}) }}
                            </div>
                            <div class="formrow">
                                <label for="telefoon">telefoonnummer</label>
                                {{ form_errors(form.telefoon) }}
                                {{ form_widget(form.telefoon, {'attr': {'id': 'telefoon'}}) }}
                            </div>
                            <div class="formrow">
                                <label for="postcode">postcode <span class="label-explanation">(van uw winkel)</span></label>
                                {{ form_errors(form.postcode) }}
                                {{ form_widget(form.postcode, {'attr': {'id': 'postcode'}}) }}
                            </div>
                            <div class="formrow">
                                <label for="gebied">concierge team <span class="label-explanation">(met welk team van ons wilt u contact)</span></label>
                                {{ form_errors(form.gebied) }}
                                {{ form_widget(form.gebied, {'attr': {'id': 'gebied'}}) }}
                            </div>
                            <div class="formrow">
                                <label for="vraag">evt. vraag of opmerking</label>
                                {{ form_errors(form.vraag) }}
                                {{ form_widget(form.vraag, {'attr': {'id': 'vraag'}}) }}
                            </div>
                        </fieldset>
                        <button type="submit" class="button">versturen</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>

        <footer class="main-footer">
            <div class="wrapper">
                <p>Clean street is een initiatief van de Gemeente Amsterdam en onderdeel van Amsterdam schoon.</p>
            </div>
        </footer>

        <script src="/assets/js/jquery/3.1.1/jquery.min.js"></script>
        <script src="/assets/js/jquery.sticky.js"></script>
        <script src="/assets/js/parallax.min.js"></script>

        <script type="text/javascript">

        // Faq toggle
        $(".faq-question").click(function(e){
            $(this).closest(".faq-item").toggleClass('is-open');
        });

        // Scroll to
        $('[data-scroll-to]').on('click', function(event) {
            var target = $(this.getAttribute('href'));
            if( target.length ) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top - 30
                }, 400);
                if( this.getAttribute('href') == '#contact' ) {
                    $('#naam').focus();
                }
            }
        });

        // Parallax scroll
        $('.introduction').parallax({imageSrc: 'img/street.jpg', positionX: 'center', positionY: 'bottom'});

        // Sticky nav
        $("#sticky-nav").sticky({zIndex:1});

        </script>
{#
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.data.amsterdam.nl/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '9']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Piwik Code -->
        <noscript><img src="//piwik.data.amsterdam.nl/piwik.php?idsite=9" alt=""></noscript>
#}
    </body>
</html>
